{% extends 'core/base.html' %}
{% load static %}

{%block extra_css%}
<link rel="stylesheet" href=" {% static 'core/css/style.css' %}">
{%endblock%}

{% block title %}Alta Vendedor{% endblock %}
{% block content %} 

{% if messages %}
  <div class="alert alert-success alert-dismissible fade show">
    
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}


<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="border p-4" > <!-- Agrega la clase "border" para el borde y "p-4" para el espaciado interno -->
          <h2>REGISTRATE COMO VENDEDOR</h2> <!-- Título "Registrar auto" -->
          <form method="post" action="{% url 'alta_vendedor' %}" class="form">
            {% csrf_token %}
           
            {{ form.as_p }}
            
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
  
  
{% endblock %}


