{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Plantilla base sitio proyecto{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    {% block extra_css %} {% endblock %}
</head>
<body>
    <header>
        {% block section_title %} 
            <div class="container text-center my-4">
                <div class="row">
                    <div class="col-md-15">
                        <div class="jumbotron">
                            {%block pi%}
                            <h1 class="display-4">Bienvenido a Venta Motorix</h1>
                            {%endblock%}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

    </header>
    
    <div class="d-flex justify-content-center align-items-center">
        <nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Index</a> 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'vehiculos_todos'%}">Vehículos</a>
                <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                <a class="nav-link" href="{% url 'ficha_vehiculo'%}">Nuevo ingreso</a>
                <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
              </div>
            </div>
          </div>
        </nav>
      </div>
      
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        {% include "core/footer.html" %}
    </footer>
</body>
</html>