<!-- core/footer.html -->
<div class="container-fluid bg-dark text-white py-4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Contacto</h5>
          <p>Correo: venta@motoriz.com</p>
          <p>Teléfono: (123) 456-7890</p>
        </div>
        <div class="col-md-6 text-md-right">
          <h5>Síguenos</h5>
          <a href="#" class="text-white"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a href="#" class="text-white"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="#" class="text-white"><i class="fab fa-instagram"></i> Instagram</a>
        </div>
      </div>
      <!-- Información adicional o derechos reservados -->
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <p>&copy; 2023 Venta Motorix - Todos los derechos reservados</p>
        </div>
      </div>
    </div>
  </div>
  