<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta Motorix</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Django</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Vendé tu auto
                </a>
                <ul class="dropdown-menu">
                  {% if user.is_authenticated %} 
                  <li><a class="dropdown-item" href="{% url 'alta_auto' %}">Publicar Auto</a></li>
                  {% endif %}
                  <li><a class="dropdown-item" href="{% url 'alta_vendedor'%}">Registrate como vendedor</a></li>
                  {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'vendedores_listado'%}">Listado de vendedores</a></li>
                  {% endif %}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Comprá tu auto
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'vehiculos_listado'%}">Lista de Vehiculos</a></li>
                  <li><a class="dropdown-item" href="{% url 'alta_comprador'%}">Registrate como comprador</a></li>
                  {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'compradores_listado'%}">Listado de compradores</a></li>
                  {% endif %}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">0 KM</a></li>
                  <li><a class="dropdown-item" href="#">Usados</a></li>
                  <li><a class="dropdown-item" href="#">Motos</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'nosotros' %}">Sobre Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ficha_vehiculo' %}">Ofertas del Dia</a>
              </li>
              <li class="nav-item">
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'reportes' %}">Reportes</a>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'ventas_listado' %}">Listado transacciones</a>
                <li>
                {% endif %}
                  <div class="actions">
                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}">Login</a>
                    {% else %}
                        <p>Bienvenid@ <b>{{user.username}}</b></p>
                        <a class="logout" href="{% url 'logout' %}">Logout</a>
                    {% endif %}
                </div>
                </li>
              
            
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</body>
</html>