{% extends 'core/base.html' %}

{% block title %}Sobre Nosotros{% endblock %}

{% block content %} 
<div class="container">
    <h1 class="mt-5">Bienvenido a Venta Motorix</h1>
    
    <div class="row mt-4">
        <div class="col-md-8">
            <h2>Nuestra Historia Digital</h2>
            <p class="lead">
                En Venta Motorix, nacimos en el mundo digital con la visión de revolucionar la forma en que compras y vendes vehículos.
                Desde nuestro inicio, nos hemos comprometido a proporcionar una plataforma en línea intuitiva y segura, conectando a vendedores
                y compradores de manera fácil y eficiente.
            </p>
        </div>
        
    </div>
    
    <div class="row mt-5">
        <div class="col-md-8">
            <h2>¿Cómo Funcionamos?</h2>
            <p class="lead">
                <strong>Conexión en Línea:</strong> Somos un espacio virtual que elimina las barreras físicas entre vendedores y compradores.
                Aquí, puedes explorar una amplia gama de vehículos desde la comodidad de tu hogar.
            </p>
            <p class="lead">
                <strong>Variedad Sin Límites:</strong> Ofrecemos una amplia variedad de vehículos de calidad, con opciones que se adaptan a todos
                los gustos y necesidades. Desde automóviles elegantes hasta todoterrenos robustos, nuestra plataforma abarca todas las preferencias.
            </p>
            <p class="lead">
                <strong>Facilitadores Digitales:</strong> Nuestro equipo de facilitadores digitales está aquí para hacer que tu experiencia sea fácil y sin complicaciones.
                Desde la navegación en nuestro sitio hasta la finalización de transacciones, estamos comprometidos a ofrecer un proceso fluido.
            </p>
            <p class="lead">
                <strong>Confianza y Transparencia:</strong> Valoramos la confianza que depositas en nosotros. Brindamos transparencia en cada listado, con detalles
                completos y fotografías de calidad para que puedas tomar decisiones informadas.
            </p>
        </div>
        <div class="col-md-4">
            <!-- Puedes agregar más imágenes, gráficos u otros elementos visuales aquí -->
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-md-8">
            <h2>Nuestra Visión Digital</h2>
            <p class="lead">
                En Venta Motorix, visualizamos un futuro donde la compra y venta de vehículos en línea sea emocionante, segura y totalmente satisfactoria.
                Nos esforzamos por ser líderes en la industria automotriz digital, conectando a vendedores y compradores de manera eficiente y efectiva.
            </p>
            <p class="lead">
                Descubre la comodidad de comprar y vender vehículos desde cualquier lugar. En Venta Motorix, ¡la experiencia automotriz está a solo unos clics de distancia!
            </p>
        </div>
        <div class="col-md-4">
            <!-- Puedes agregar más imágenes, gráficos u otros elementos visuales aquí -->
        </div>
    </div>
</div>
{% endblock %}
