{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %} 
<!-- <link rel="stylesheet" href="{% static 'core/css/index.css' %}"> -->
{% endblock %}

{% block title %}Graficos{% endblock %}

{% block content %} 
<div class="container mt-5">
    <h1 class="text-center mb-4">Mis Gráficos</h1>

    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cantidad de Vehículos por Tipo</h5>
            <!-- Gráfico de Barras -->
            <canvas id="graficoBarras" height="200"></canvas>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Ventas Mensuales 2023</h5>
            <!-- Gráfico de Línea -->
            <canvas id="graficoLinea" height="200"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tipos de Financiamientos Ofrecidos</h5>
            <!-- Gráfico Radar -->
            <canvas id="graficoPolar" height="200"></canvas>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Vendedores con más ventas</h5>
            <!-- Gráfico de Donut -->
            <canvas id="graficoDonut" height="200"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="text-center mt-5">Cantidad de vehículos por tipo: {{ cantidad_vehiculos_por_tipo }}</p>
  <p class="text-center">Leasing: {{ financiamientos_leasing }}</p>
  <p class="text-center">Financiamiento a plazos: {{ financiamientos_plazos }}</p>
  <p class="text-center">Contado: {{ financiamientos_contado }}</p>


<p>cantidad_vehiculos_por_tipo{{cantidad_vehiculos_por_tipo}}</p>
<p>leasing {{ financiamientos_leasing }}</p>
<p>financiamiento_plazos {{ financiamientos_plazos }}</p>
<p>contado {{ financiamientos_contado }}</p>
<script>

  // Datos de ejemplo para los gráficos
  //var a = parseInt("{{ cantidad_vehiculos }}");
    
  var datosBarras = {
      labels: ['0km','Usados'],
      datasets: [{
          label: 'Cantidad de Vehículos por Tipo',
          data: [parseInt("{{ cantidad_vehiculos_0KM }}"), parseInt("{{ cantidad_vehiculos_usado }}")],
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
      }]
  };

    var datosLinea = {
        labels: ['Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        datasets: [{
            label: 'Ventas Mensuales 2023',
            data: [parseInt("{{ transacciones_septiembre }}"), parseInt("{{ transacciones_octubre }}"),parseInt("{{ transacciones_noviembre }}"), parseInt("{{ transacciones_diciembre }}")],
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 2,
            fill: false
        }]
    };

    var datosRadar = {
        labels: ['Financiamiento a Plazos','Leasing','Pago al Contado', 'Efectivo', 'Financiación bancaria'],
        datasets: [{
            label: 'Tipos de Financiamientos ofrecidos',
            data: [parseInt("{{ financiamientos_plazos }}"), parseInt("{{ financiamientos_contado }}}"),parseInt("{{ financiamientos_leasing }}"),7,6],
            backgroundColor: 'rgba(255, 206, 86, 0.2)',
            borderColor: 'rgba(255, 206, 86, 1)',
            borderWidth: 1
        }]
    };

    var datosDonut = {
        labels: [
            {% for vendedor in vendedores_mas_transacciones %}
                '{{ vendedor.nombre }} {{ vendedor.apellido }}',
            {% endfor %}
        ],
        datasets: [{
            
            data: [
                {% for vendedor in vendedores_mas_transacciones %}
                    {{ vendedor.num_transacciones }},
                {% endfor %}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                // Agrega más colores si tienes más vendedores
            ],
        }]
    };
    var datosPolar = {
       labels: ['Financiamiento a Plazos','Leasing','Pago al Contado', 'Efectivo', 'Financiación bancaria'],
        datasets: [{
            label: 'Datos de Polar',
            data: [parseInt("{{ financiamientos_plazos }}"), parseInt("{{ financiamientos_contado }}}"),parseInt("{{ financiamientos_leasing }}"),7,6],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
        }]
    };

    // Inicializar los gráficos
    var ctxBarras = document.getElementById('graficoBarras').getContext('2d');
    var chartBarras = new Chart(ctxBarras, {
        type: 'bar',
        data: datosBarras,
        options: {}
    });

    var ctxLinea = document.getElementById('graficoLinea').getContext('2d');
    var chartLinea = new Chart(ctxLinea, {
        type: 'line',
        data: datosLinea,
        options: {}
    });

 

    var ctxDonut = document.getElementById('graficoDonut').getContext('2d');
    var chartDonut = new Chart(ctxDonut, {
        type: 'doughnut',
        data: datosDonut,
        options: {}
    });

    var ctxPolar = document.getElementById('graficoPolar').getContext('2d');
    var chartPolar = new Chart(ctxPolar, {
        type: 'polarArea',
        data: datosPolar,
        options: {}
    });
</script>

{% endblock %}
