{% extends 'core/base.html' %}
{% block title %}Listado Transacciones / Ventas{% endblock %}
{% block content %}
  <div class="container">
    <h1 class="my-4">Listado Transacciones / Ventas</h1>
    <ul class="list-group">
      {% for venta in listado_ventas %}
        <li class="list-group-item">
          {% if venta.vehiculo.imagen %}
              <img src="{{ venta.vehiculo.imagen.url }}" class="img-fluid rounded" alt="Imagen del vehículo" style="max-width: 300px; max-height: 150px;">
            {% endif %}
          <h4>{{ venta.vehiculo }} {{ venta.metodo_pago }}</h4>
          <p><strong>Vendedor:</strong> {{ venta.vendedor }}</p>
          <p><strong>Comprador:</strong> {{ venta.comprador }}</p>
          <p><strong>Precio: </strong> {{ venta.vehiculo.precio }}</p>
          <p><strong>Fecha:</strong> {{ venta.fecha_transaccion }}</p>
          <p><strong>Estado: </strong> {{ venta.estado_transaccion }}</p>
          <form method="post">
            {% csrf_token %}
          </form>
        </li>
      {% empty %}
        <li class="list-group-item">No hay ventas realizadas.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

